<!-- /.blog-post -->

{% extends 'blog/base.html' %}

{% block content %}

    {% for post in posts %}
    <div class="blog-post">
        <p class="blog-post-meta">published: {{ post.published_date }}</p>
        <h2><a href="{% url 'post_detail' pk=post.pk %}" class="blog-post-title">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

    {% for empl in staff %}
    <div class="blog-empl">
        <p class="blog-empl-meta">published: {{ empl.published_date }}</p>
        <h2><a href="{% url 'empl_detail' pk=empl.pk %}" class="blog-empl-name">{{ empl.name }}</a></h2>
        <p>{{ empl.text|linebreaksbr }}</p>
    </div>
    {% endfor %}

{% endblock %}
